body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    margin-bottom: 100px;
}
* {
    box-sizing: border-box;
}
.active {
    border-color: #0a9e01 !important;
    box-shadow: 0 0.6rem 1.2rem rgba(34,144,8,.29) !important;
}
@media (max-width: 640px){
    body .selection-title {
        font-size: 30px !important;
        line-height: 1.2 !important;
    }
}
@media (max-width: 640px){
    body .box-wrapper {
        padding: 8px;
    }
}
@media (max-width: 480px){
    body .selection-title {
        font-size: 24px !important;
        line-height: 1.2 !important;
        margin-bottom: 12px;
    }
    body .selection-subTitle {
        font-size: 18px;
    }
    body .selection-title-content {
        margin-top: 30px;
        margin-bottom: 35px;
    }
    body .btn-primary {
        height: 48px;
        font-size: 18px;
        width: 200px;
    }
}


