body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    margin-bottom: 100px;
}
* {
    box-sizing: border-box;
}
.active {
    border-color: #0a9e01 !important;
    box-shadow: 0 0.6rem 1.2rem rgba(34,144,8,.29) !important;
}
@media (max-width: 640px){
    body .makeStyles-title-111 {
        font-size: 30px !important;
        line-height: 1.2 !important;
    }
}
@media (max-width: 640px){
    body .makeStyles-paper-115 {
        padding: 8px;
    }
}
